<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Luke's Topics</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/public/images/favicon.ico">
  <link rel="stylesheet" type="text/css" 
  	href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono">

  <link rel="stylesheet" href="css/style.css?v=2">
  <script src="/public/js/libs/modernizr-1.6.min.js"></script>

</head>

<body>

  <div id="container">
    <header id="Top">
        <nav>
        	<b>Luke's Topics - &nbsp;&nbsp;&nbsp;</b>  
        	<a href="http://google.com">Google</a> | 
        	<a href="http://news.ycombinator.com">Hacker News</a> 
        </nav>

    </header>
    
    <div id="main">
    <article class="Link">
    	<a href="google.com">Hello</a><br />
    	<span class="small">Posted at 5:32am Thursday <a href="#">Link</a>
    		
    </article>
    <article class="Link"><a href="google.com">Hello</a></article>
    <article class="Link"><a href="google.com">Hello</a></article>
    <article class="Link"><a href="google.com">Hello</a></article>
    
 

    </div>
    
    <footer>

    </footer>
  </div> <!-- end of #container -->


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/public/js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
  
  
  <!-- scripts concatenated and minified via ant build script-->
  <script src="/public/js/plugins.js"></script>
  <script src="/public/js/script.js"></script>
  <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

<script>
	$(".Link:even").css("background-color", "#e0e0e0");</script>
  
</body>
</html>
